<%= form_for @article, html: { multipart: true } do |f| %>
				<p>
					<%= f.label :title, "标题(必填，小于50字符)"  %><br />
					<%= f.text_field :title, class: "form-control" %>
				</p>
				<p>
					<%= f.label :body, "文章内容/描述(必填，大于5字符)" %> <br />
					<%= f.text_area :body , class: "form-control", rows: "10" %>
				</p>
				<p>
					<%= f.label :category, "分类" %> <br />
					<%#= f. %>
					<%= collection_select(:article, :category_id, Category.all, :id, :name, {}, {:class => 'form-control'}) %>
				</p>
				<p>
					<%= f.label :tag_list, "标签（可选，用逗号间隔）" %><br />
					<%= f.text_field :tag_list, "data-role" => "tagsinput" %>
				</p>

				<p>
					<%#= f.fields_for :article_attachments do |builder| %>
				    <%#= render "attachments_fields", :f => builder %>
				  <%# end %>
				</p>
				<% if @article.new_record? || @article.attached_file.url.nil? %>
					<p>
						<%= f.label :attached_file, "添加附件" %>
						<%= f.file_field :attached_file %>
					</p>
				<% else %>
					<p>
						<%= f.label :attached_file, "附件" %><br />
						<%= link_to raw("<i class='fa fa-paperclip'></i>下载当前附件"), download_attached_file_article_path(@article), method: :post %>
						|
						<%= link_to raw("<i class='fa fa-trash'></i>删除"), delete_attached_file_article_path(@article), method: :delete, data: {confirm: "确定删除附件？"} %>
					</p>
				<% end %>
			


				<br />
				<p style="text-align:right;">
					<%= f.submit "保存", class: "btn btn-success", data: { disable_with: "保存中..." } %> 
					
					<% unless @article.new_record? %>
						 <%= link_to "删除", article_path(@article), class: "btn btn-danger", data: { confirm: "确定删除？", disabled_with: "删除中" }, method: :delete %>
					<% end %>
				</p> 

			<% end %>



