<div class="row">
	<div class="col-md-9">
		<div class="article-show-box normal-box">
			<div class="title">
				<%= @article.title %>
				<% if user_signed_in? && current_user == @article.user %>
					<span class="pull-right">
						<%= link_to "编辑", edit_article_path(@article), class: "btn btn-primary" %>
					</span>
				<% end %>
			</div>
			<div class="info">
				<a href="#"><%= @article.user.username %></a> 发表于 <%= time_ago_in_words @article.created_at %>, 
				<span class="glyphicon glyphicon-comment"></span> <%= @article.comment_threads.size %> 
				<span class="glyphicon glyphicon-eye-open"></span> <%= @article.read_count %>
			</div>
			<article class="article-body">
				<%= markdown(@article.body) %>
			</article>
			<div class="tag-list">
				<ul class="tags">
					<% @article.tags.each do |tag| %>
						<li><span class="label label-primary"><%= link_to tag.name, tag_articles_path(tag_name: tag.name) %></span></li>
					<% end %>
				</ul>
			</div>
		</div>


		<div class="comments-box normal-box">
			<% if @article.comment_threads.any? %>
				<div class="comment-title">
					共收到<%= @article.comment_threads.size %>条回复
				</div>

				<div class="comment-list">
					<% @article.comment_threads.each do |c| %>
						<div class="comment-item">
							<div class="comment-info">
								<span class="user">
									<%= link_to c.user.username, '#' %>
								</span> - <%= time_ago_in_words(c.created_at) %>
							</div>
							<div class="comment-content">
								<%= markdown(c.body) %>
							</div>
							<div class="comment-control">
								<ul class="no-space-list no-point-list ho-list">
									<!-- <li><a href="#">回复</a></li> -->
									<% if user_signed_in? && current_user == c.user %>
										<li>
											<%= link_to "删除", article_comment_path(@article, c), method: :delete, data: { confirm: "确认删除？" } %>
										</li>
										<li>
											<%= link_to "编辑", edit_article_comment_path(@article, c) %>
										</li>
									<% end %>

								</ul>
							</div>
						</div>
					<% end %>
				</div>

			<% else %>
				<div class="no-comment">暂无回复</div>
			<% end %>


		</div>

		<div class="new-comment normal-box">
			<% if user_signed_in? %>
				<div class="form">
					<%= form_for @article.comment_threads.new, url: article_comments_path(@article) do |f| %>
						<div class="text-box">

							<%= f.text_area :body, class: "form-control", placeholder: "请输入内容" %>
						</div>
						<div class="button">
							<%= f.submit "提交回复", class: "btn btn-primary" %>
						</div>

					<% end %>
					<div class="clear"></div>

				</div>

				<div class="help">
					<ul class="help-list">
						<li>支持markdown语法。</li>
						<li>test</li>
					</ul>
				</div>
			<% else %>
	
				<div class="not-signed-in">
					请登录后参与讨论。
				</div>
			<% end %>

		</div>


	</div>
	<div class="col-md-3">
		<div class="article-related-box normal-box">
			<div class="title">
				相关分享
			</div>
			<p><a href="#">test</a></p>
			<p><a href="#">second</a></p>
			<p><a href="#">last</a></p>
		</div>
	</div>

</div>